@model SecurityModel
<div id="changePasswordContainer" class="card" hx-disinherit="hx-select hx-target hx-swap">
    <h3>@Localizer["ChangePassword"]</h3>
    @if (Model.ChangePasswordSuccess)
    {
      <div class="success-alert">
        <div>
          <img src="/images/svg/alert-green-check.svg" alt="icon">
        </div>
        <div>
          <h3>@Localizer["PasswordChanged"]</h3>
          <p>@Localizer["PasswordChangedSuccess"]</p>
        </div>
      </div>
    }

    @if (!string.IsNullOrEmpty(Model.PasswordErrorMessage))
    {
      <p class="error-summary">@Model.PasswordErrorMessage</p>
    }
    <form hx-post="/security?handler=ChangePassword" hx-target="#changePasswordContainer" hx-swap="outerHTML show:no-scroll" method="post" autocomplete="off">
      <label>@Localizer["OldPassword"] <span asp-validation-for="ChangePasswordCmd.OldPassword" class="error"></span></label>
      <div x-data="{showOldPassword: false}" class="password-field">
        <input asp-for="ChangePasswordCmd.OldPassword" :type="showOldPassword ? 'text' : 'password'" placeholder="@Localizer["OldPassword"]">
        <img x-on:click="showOldPassword = !showOldPassword" :src="'/images/svg/' + (showOldPassword ? 'hide' : 'show') + '.svg'">
      </div>

      <label>@Localizer["NewPassword"] <span asp-validation-for="ChangePasswordCmd.NewPassword" class="error"></span></label>
      <div x-data="{showNewPassword: false}" class="password-field">
        <input asp-for="ChangePasswordCmd.NewPassword" :type="showNewPassword ? 'text' : 'password'" placeholder="@Localizer["NewPassword"]">
        <img x-on:click="showNewPassword = !showNewPassword" :src="'/images/svg/' + (showNewPassword ? 'hide' : 'show') + '.svg'">
      </div>

      <label>@Localizer["ConfirmPassword"] <span asp-validation-for="ChangePasswordCmd.NewPassword" class="error"></span></label>
      <div x-data="{showConfirmPassword: false}" class="password-field">
        <input asp-for="ChangePasswordCmd.ConfirmPassword" :type="showConfirmPassword ? 'text' : 'password'" placeholder="@Localizer["ConfirmPassword"]">
        <img x-on:click="showConfirmPassword = !showConfirmPassword" :src="'/images/svg/' + (showConfirmPassword ? 'hide' : 'show') + '.svg'">
      </div>

      @if (Model.TfaEnabled)
      {
        <label>@Localizer["TfaCode"] <span asp-validation-for="ChangePasswordCmd.TfaCode" class="error"></span></label>
        <input type="text" asp-for="ChangePasswordCmd.TfaCode" autocomplete="off">
      }

      <div class="justify-end">
        <button type="submit" class="primary">@Localizer["Save"]</button>
      </div>
    </form>

  </div>
