@model ForgotPasswordModel

<div id="forgotPasswordContainer">
@if (!Model.LinkSent)
{
  <div class="flex-col-centerv mb-1">
    <h3>@Localizer["ResetPassword"]</h3>
    <p>@Localizer["ResetPasswordDesc"]</p>
  </div>

  @if (!string.IsNullOrEmpty(Model.ErrorMessage))
  {
    <p class="error-summary">@Model.ErrorMessage</p>
  }

<div hx-disinherit="hx-select hx-target hx-swap">
  <form hx-post="/forgotpassword" hx-target="#forgotPasswordContainer" asp-route="ForgotPassword" method="post" autocomplete="off" class="flex-col">
    <label>@Localizer["EmailAddress"] <span asp-validation-for="Cmd.Email" class="error"></span></label>
    <input asp-for="Cmd.Email" type="text" placeholder="@Localizer["EmailAddress"]">

    <button class="primary modal-button" type="submit">@Localizer["Send Link"]</button>

    <p class="link-button"><a hx-get="/login" hx-target="#modal-content">@Localizer["BackToLogin"]?</a></p>
  </form>
  </div>
}
else
{
  <div class="success-alert">
    <div>
      <img src="/images/svg/alert-green-check.svg">
    </div>
    <div>
      <h3>@Localizer["AlmostThere"]...</h3>
      <p>@Localizer["ResetLinkSentText"]</p>
    </div>
  </div>
}
</div>